.App, body {
  text-align: center;
  background-color: rgb(56, 56, 56);
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  width: 100%;
  margin: 5rem auto;
  text-align: center;
  position: flex;
}
.container h1,
h2 {
  font-size: 3rem;
}
.homeLink {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.first-text {
  opacity: 0;
  width: 100%;
  animation: 3s slidein;
}
.two,
.third {
  margin: auto;
  opacity: 0;
  font-size: 2.2rem;
  font-weight: 700;
  width: 100%;
}

.two {
  /* position: absolute;
  top: 7rem;
  left:2rem; */
  margin-top: -8rem;
  animation: 3s 3s alternate simpleSlide;
}
.inputSet {
  margin: 0 auto;
  font-size: 0.7rem;
  border: 2px solid white;
  max-width: 75%;
  line-height: 1rem;
  opacity: 0;
  animation: 5s 5s alternate second_text_anim;
  position: relative;
  padding: 1rem;
  text-align: left;
}

.third {
  margin-top: -10rem;
  animation: 2s 10s simpleSlide;
}
.fourth {
  text-align: center;
  margin-top: 2rem;
  font-size: 7rem;
  opacity: 0;
  animation: 5s 12s colorChange;
}
.fifth {
  text-align: center;
  margin-top: -17rem;
  font-size: 3rem;
  opacity: 0;
  animation: 3s 15s simpleSlide;
}

.sixth {
  font-weight: bolder;
  font-size: 3rem;
  text-align: center;
  opacity: 0;
  margin-top: -7rem;
  animation: 2s 18s simpleSlide;
}

.sev-class {
  font-weight: bolder;
  font-size: 3rem;
  text-align: center;
  margin-top: -12rem;
  opacity: 0;
  animation: 6s 20s simpleSlide;
}

.eight {
  text-align: center;
  margin-top: -2rem;
  font-size: 7rem;
  opacity: 0;
  animation: 6s 21s colorChange;
}
.ninth-class {
  text-align: center;
  margin-top: -20rem;
  font-size: 10rem;
  opacity: 0;
  animation: 5s 25s colorChange;
}
.pOne {
  opacity: 0;
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 5rem;
  animation: 1s 27s infinite ballon;
}

.hbd {
  font-size: 10rem;
  margin-top: -17rem;
  color: rgb(12, 89, 112);
  opacity: 0;
  animation: 10s 27s infinite hbd;
}

.inputSet button {
  position: absolute;
  margin: 0;
  width: 90px;
  right: 5px;
  bottom: 5px;
  color: #fff;
  background-color: rgb(21, 161, 237);
  padding: 8px 9px;
  border-radius: 3px;
}
@keyframes slidein {
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
    transform: matrix3d(
      0.996195,
      0,
      -0.0871557,
      0,
      -0.258819,
      0.965926,
      0,
      0,
      0.0871557,
      0,
      0.996195,
      0,
      0,
      20,
      0,
      1
    );
  }
}

@keyframes second_text_anim {
  from {
    opacity: 1;
    margin-top: 100%;
    width: 300%;
  }

  to {
    opacity: 1;
    margin-top: 0%;
    width: 100%;
  }
}

@keyframes simpleSlide {
  from {
    opacity: 1;
    top: 2rem;
    margin-right: 80%;
    width: 100%;
  }

  to {
    top: 1rem;
    opacity: 1;
    margin-right: 0%;
    width: 100%;
  }
}

@keyframes colorChange {
  30% {
    letter-spacing: 25px;
    margin-bottom: -40rem;
  }
  0% {
    opacity: 1;
    margin-left: 100%;
    width: 300%;
  }
  50% {
    opacity: 1;
    color: aqua;
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes ballon {
  from {
    opacity: 1;
    color: yellow;

    transform: translateY(110vh);
  }
  to {
    opacity: 1;
    color: tomato;
    transform: translateY(0);
  }
}

@keyframes ballon2 {
  from {
    opacity: 1;
    color: yellow;

    transform: translateY(80vh);
  }
  to {
    opacity: 1;
    color: tomato;
    transform: translateY(5);
  }
}

@keyframes hbd {
  30% {
    letter-spacing: 25px;
    margin-bottom: -40rem;
    opacity: 1;
    color: #09ff00;
  }
  20% {
    letter-spacing: 25px;
    margin-bottom: -50rem;
    opacity: 1;
    color: #ff00c8;
  }
  40% {
    letter-spacing: 25px;
    margin-bottom: -20rem;
    opacity: 1;
    color: #ff7b00;
  }
  0% {
    opacity: 1;
    color: yellow;
    margin-left: 100%;
    width: 300%;
  }
  50% {
    opacity: 1;
    color: #0044ff;
    margin-left: 0%;
    width: 100%;
  }

  60% {
    opacity: 1;
    color: #d400ff;
    margin-left: 20%;
    width: 100%;
  }
}
